@import "../styles/globals/color";
@import "../styles/layout/";

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-size: 4rem;
  }

  @media only screen and (min-width: 600px) {
    align-items: flex-start;
    margin-left: 40px;

    h1 {
      font-size: 6rem;
    }
  }

  @media only screen and (min-width: 768px) {
    margin-left: 100px;

    h1 {
      font-size: 8rem;
    }
  }

  &-info {
    display: flex;
    margin-left: auto;
    margin-right: auto;

    .social-links {
      display: flex;
      flex-direction: column;
      align-items: center;

      .social {
        display: flex;
        margin-left: 40px;

        @media only screen and (min-width: 600px) {
          // margin-left: 20px;
        }
      }

      input {
        background-color: transparent;
        border: none;
        color: $dark-charcoal;
        font-size: 1.3rem;
        cursor: pointer;

        @media only screen and (min-width: 600px) {
          font-size: 2.5rem;
        }
        &:hover {
          color: white;
          text-decoration: 1px underline solid white;
          transform: scale(1.1);
        }
      }
      span,
      a {
        font-size: 1.3rem;
        margin-top: 5px;
        margin-right: 25px;
        font-weight: 400;
        color: $dark-charcoal;

        &:hover {
          color: white;
          transform: scale(1.1);
        }
        @media only screen and (min-width: 600px) {
          font-size: 2.5rem;
        }
      }

      @media only screen and (min-width: 600px) {
        align-items: flex-start;
      }
    }

    @media only screen and (min-width: 600px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
